/* Normalise CSS across all clients */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic styles */

* {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

body {
  background: var(--bg-primary);
  color: var(--fg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 25px;
}

hr {
  border: none;
  border-radius: 5px;
  height: 3px;
  background: var(--fg-secondary);
  margin-top: 25px;
  margin-bottom: 50px;
}

h1,
h2,
h3,
p,
li {
  margin: 0.7em 0 0.3em 0;
  line-height: 1.3em;
}

h1 {
  font-size: 3.375em;
  color: var(--fg-secondary);
  opacity: 0.8;
}

h2 {
  font-size: 2.25em;
  color: var(--fg-secondary);
  opacity: 0.9;
}

h3 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;
  color: var(--fg-secondary);
  opacity: 0.6;
}

a {
  text-decoration: none;
  font-weight: 700;
  transition: opacity 50ms linear;
  color: var(--secondary);
  opacity: 0.65;
}

a:visited {
  text-decoration: dotted underline;
  opacity: 0.5;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 1;
}

code,
pre {
  font-family: "Source Code Pro", monospace;
  background-color: var(--bg-secondary);
  border-radius: 5px;
}

code {
  padding: 2px 7px;
}

pre {
  max-width: 90vw;
  overflow-x: scroll;
  padding: 1em;
  margin: 1.5em 0;
}

li {
  margin-left: 1.5em;
}

blockquote {
  margin: 1em 0;
}

blockquote p {
  padding: 15px;
  background: var(--bg-secondary);
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

header,
footer {
  width: 100vw;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
}

header {
  padding: 0.5em 5vw;
  justify-content: space-between;
}

footer {
  padding: 0;
  margin: 1em 0 0 0;
  flex-direction: column;
}

#logo {
  width: 42px;
  height: 24px;
  background: linear-gradient(75deg, var(--secondary), var(--primary));
  border-radius: 15%;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin: 10px;
}

nav a {
  color: var(--fg-primary);
}

footer a {
  color: inherit;
}

/* Special classses */
.unique-text {
  font-weight: 700;
  color: var(--primary);
  text-decoration: dashed underline;
}

.copyright {
  margin: 0;
  padding: 0.4em;
  width: 100%;
  text-align: center;
  background-color: #232323;
  color: #ddd;
}

/* Desktop-specific rules */
@media (min-width: 920px) {
  main {
    max-width: 70vw;
  }
}
